<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form  method="post" action="/newteam">
     <p><input type="text" Teamname="name"></p>
     <p><input type="text" Coach="coach"></p>
     <p><input type="text" Pointgaurd="pg"></p>
     <p><input type="text" Shootinggaurd="sg"></p>
     <p><input type="text" Powerforward="pf"></p>
     <p><input type="text" Center="c"></p>
     <input type="submit" >
   </form>
 </body>
</html>
